
{% load staticfiles %} <link href="{%static "main.css"%}" rel="stylesheet"/>
{% load staticfiles %} <script src="{%static "jquery.js" %}" type=text/javascript></script>
{% load staticfiles %} <script src="{%static "jquery-ui/ui/jquery-ui.js" %}" type=text/javascript></script>
{% load staticfiles %} <script src="{%static "jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js" %}" type=text/javascript></script>

<script src="/static/liHighLight.js" type=text/javascript></script>

<br>
<span><strong> Электрика и тепло | Замена счётчиков</strong> </span>
<br><br>

<p>
 <div id="meters_change_block">
 &nbsp;&nbsp;Старый номер счётчика будет удалён из БД, на его место будет записан новый счётчик. 
<br><br>
В разработке
<!--  <font color="000">
        <span><strong>&nbsp;&nbsp;Старый счётчик&nbsp;</strong></span>
		<input id="old_meter" name="old_meter" type="text">

		<span><strong>&nbsp;&nbsp;&nbsp;Новый счётчик&nbsp;</strong></span>
		<input id="new_meter" name="new_meter" type="text">
		<br><br>
        &nbsp;&nbsp;<span onclick="load_service('service_change_electric')" class="button" id="change_button">Заменить</span> 
		<br>        
	</font>	
	 <br>&nbsp;&nbsp; <font color="#FF6347"> {{change_meter_status}} </font>
	<br><br>
    </div> -->
<br>
<!-- <div id="meters_change_block">
 &nbsp;&nbsp;Счётчики будут поменяны местами в БД
<br><br>
 <font color="000">
        <span><strong>&nbsp;&nbsp;Счётчик 1&nbsp;</strong></span>
		<input id="meter1" name="meter1" type="text">

		<span><strong>&nbsp;&nbsp;&nbsp;Счётчик 2&nbsp;</strong></span>
		<input id="meter2" name="meter2" type="text">
		<br><br>
        &nbsp;&nbsp;<span onclick="load_service('service_replace_electric')" class="button" id="replace_button">Заменить</span> 
		<br>        
	</font>	
	 <br>&nbsp;&nbsp; <font color="#FF6347"> {{replace_meter_status}} <font>
	<br><br>
    </div>
	 -->
</form>
<br>
<br>
<br>
